/* CONTAINERS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #262626;
}

.container {
  margin: 0;
  padding: 60px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 90%;
}

.hero-content {
  max-width: 780px;
  text-align: left;
  margin-top: 150px;
}

.brand-box {
  display: flex;
  justify-content:center;
  align-items: center;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
}


/* FONT STYLES */
h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 5rem;
  line-height: normal;
  color: #0066B2;
}

.subheader {
  display: inline-block;
  font-size: 1.5rem;
  line-height: normal;

  margin-top: 18px;
}

.contact a,
.contact a:link,
.contact a:visited,
.contact a:focus,
.contact a:hover,
.contact a:active  {
  text-decoration: none;
  color: #262626;
}

.contact a:hover {
  color: #0066B2;
}


/* IMAGE ELEMENTS */
.brand-logo {
  display: inline-block;
  width: 85%;
}


.phone-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.hero-bg-img {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 60%;

  z-index: -100;
}


/* BUTTON STYLES */
.cta-btn {
  display: inline-block;

  background-color: #F48120;
  padding: 15px 35px;
  border-radius: 100px;
  max-width: 245px;
  max-height: 71px;

  margin-top: 45px;

  font-size: 1.5rem;
  line-height: normal;
  text-decoration: none;
  color: #ffffff;
}


/* MEDIA QUERIES */
@media screen and (min-width: 721px) and (max-width: 1023px) {

  .hero {
    justify-content: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) {

  .container {
    padding: 30px;
  }

  .flex-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .brand-box {
    justify-content: center;
  }

  .contact {
    font-size: 1.15rem;
    margin-top: 18px;
  }

  .phone-icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .hero {
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 2.25rem;
  }

  .subheader {
    font-size: 1.15rem;
  }

  .cta-btn {
    font-size: 1.15rem;
    margin-top: 30px;
  }

  .hero-bg-img {
    width: 130%;
    bottom: -150px;
  }
}

/* @media screen and (min-width: 321px) and (max-width: 480px) */
@media screen and (max-width: 480px) {

  .container {
    padding: 24px;
  }

  .flex-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .brand-box {
    justify-content: center;
  }

  .contact {
    font-size: 1.15rem;
    margin-top: 18px;
  }

  .phone-icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }

  .hero {
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    margin-top: 50px;
  }

  h1 {
    font-size: 2.25rem;
  }

  .subheader {
    font-size: 1.15rem;
  }

  .cta-btn {
    font-size: 1.15rem;
    margin-top: 30px;
  }

  .hero-bg-img {
    width: 130%;
    bottom: -100px;
  }
  }
}
