/* CONTAINERS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #262626;
}

.container {
  margin: 0;
  padding: 60px;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 90%;
}

.hero-content {
  max-width: 780px;
  text-align: left;
  margin-top: 150px;
  margin-left: 50px;
}

.brand-box {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  text-align: left;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
}


/* FONT STYLES */
h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 5rem;
  line-height: normal;
  color: #0066B2;
}

.subheader {
  display: inline-block;
  font-size: 28px;
  line-height: 38px;

  margin-top: 18px;
}

.contact a,
a:link,
a:visited,
a:focus,
a:hover,
a:active  {
  text-decoration: none;
  color: #262626;
}

.contact a:hover {
  color: #0066B2;
}


/* IMAGE ELEMENTS */
.brand-logo {
  display: inline-block;
  width: 100%;
}


.phone-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.hero-bg-img {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 60%;

  z-index: -100;
}


/* BUTTON STYLES */
.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F48120;
  padding: 15px 35px;
  border-radius: 100px;
  width: 245px;
  height: 71px;

  margin-top: 65px;
}

.cta-btn a {
  font-size: 30px;
  line-height: 41px;
  text-decoration: none;
  color: #ffffff;
}


/* MEDIA QUERIES */
@media screen and (min-width: 721px) and (max-width: 1023px) {
  .hero-content {
    margin-left: 0px;
  }
}

@media screen and (min-width: 321px) and (max-width: 720px) {

  .container {
    padding: 30px;
  }

  .flex-container {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .brand-box {
    justify-content: center;
  }

  .contact {
    font-size: 24px;
    margin-top: 18px;
  }

  .hero {
    justify-content: center;
  }

  .hero-content {
    text-align: center;
    margin-top: 60px;
  }

  .hero-bg-img {
    width: 100%;
    bottom: 0px;
  }
}

/* @media screen and (max-width: 320px) {

} */
